<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>212561554224-dokc3gkr93na9ousk121cd8fbgeudvmb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.212561554224-dokc3gkr93na9ousk121cd8fbgeudvmb</string>
	<key>API_KEY</key>
	<string>AIzaSyD4nG3mdxLirq23yKG1WPW3wJyZ1SLmKzg</string>
	<key>GCM_SENDER_ID</key>
	<string>212561554224</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-476f3</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-476f3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:212561554224:ios:bfd9595620aa50228576f5</string>
</dict>
</plist>